parameters:
    level: 10
    paths:
        - src
    excludePaths:
        - vendor/*
        - var/*
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
